matplotlib==3.8.3
nasdaq-data-link
numpy==1.26.4
openpyxl==3.1.2
pandas==2.2.1
Pillow==10.2.0
plotly==5.20.0
PyMuPDF>=1.24.0
python-box==7.1.1
python-dotenv==1.0.1
PyYAML==6.0.1
scipy==1.12.0
seaborn==0.13.2
streamlit==1.33.0
streamlit_option_menu==0.3.12
ta==0.11.0
tqdm==4.66.2
xlrd==2.0.1
yfinance==0.2.38
